.rightSidebar{
    flex: 3.5;
}
.rightSidebar__container{
    padding: 20px 20px 0 0;
}

.rightSidebar__birthdayInfo{
    display: flex;
    align-items: center;
}

.rightSidebar__birthdayInfo > img{
    width: 40px;
    height: 40px;
    margin-right: 10px;   
}

.rightSidebar__birthdayInfo > span{
    font-size: 15px;
    font-weight: 300;
}

.rightSidebar__ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0px;
}

.rightSidebar__title{
    margin-bottom: 20px;
}

.rightSidebar__friendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightSidebar__friendList > li{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: -1;
}
.rightSidebar__online{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -5px;
    left: 28px;
    border: 2px solid white;
}
.rightSidebar__username{
    margin-left: 10px;
    font-weight: 500;
}