.rightSidebar{
    flex: 3.5;
}
.rightSidebar__container{
    padding: 20px 20px 0 0;
}

.rightSidebar__birthdayInfo{
    display: flex;
    align-items: center;
}

.rightSidebar__birthdayInfo > img{
    width: 40px;
    height: 40px;
    margin-right: 10px;   
}

.rightSidebar__birthdayInfo > span{
    font-size: 15px;
    font-weight: 300;
}

.rightSidebar__ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0px;
}

.rightSidebar__title{
    margin-bottom: 20px;
}

.rightSidebar__friendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightSidebar__friendList > li{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.rightSidebar__online{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -5px;
    left: 28px;
    border: 2px solid white;
}
.rightSidebar__username{
    margin-left: 10px;
    font-weight: 500;
}




 /* Profile page */

.rightSidebar__infoTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightSidebar__following > .MuiAvatar-root{
    height: 100px;
    width: 100px;
}
.rightSidebar__infoContainer{
    margin-bottom: 30px;
}
.rightSidebar__info{
    margin-bottom: 10px;
}
.rightSidebar__infoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightSidebar__infoValue{
    font-weight: 300;
}
.rightSidebar__followings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightSidebar__following{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}