.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.68) ;
    margin: 30px 0px;
}

.post__container{
    padding: 10px;
}

.post__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__headerInfo{
    display: flex;
    align-items: center;
}
.post__username{
    font-size: 15px;
    font-weight: 500;
    margin:0 10px;
}
.post__time{
    font-size: 10px;
}

.post__body{
    margin: 20px 0;
}

.post__body > img{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post__reactions{
    display: flex;
    align-items: center;
}
.post__reactions > img{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.post__likeCounter{
    font-size: 15px;
}

.post_commentsText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
